:root {
    --banner-bg: rgb(206 200 255);
    --tooltip-bg: rgb(13 120 162);
    --submit-area-bg: linear-gradient(
        90deg,
        rgba(240, 255, 255, 0.7),
        rgb(200, 255, 255),
        rgba(240, 255, 255, 0.5)
    );
    --button-disabled-bg: repeating-linear-gradient(
        -45deg,
        rgb(255, 200, 200),
        rgb(255, 200, 200) 4px,
        white 4px,
        white 8px
    );
}

body {
    background-color: azure;
    font-size: 1.2em;
}

#folder_form {
    width: 50%;
    min-width: 600px;
    max-width: 1200px;
    margin: 2em auto;
}

div.ctrl {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
}

.collapsible {
    cursor: pointer;
    border: none;
    text-align: center;
    width: 1.5em;
    outline: none;
    transition: all 0.8s ease-out;
    padding: 1px 0;
    border-radius: 8px;
    margin-right: 0.4em;
}

.content {
    padding: 0 0 0 18px;
    height: 0rem;
    overflow: hidden;
    transition: all 0.35s ease-out;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

li > div {
    display: flex;
    justify-content: space-between;
    height: 1.3em;
}

li:hover {
    background: linear-gradient(90deg, rgba(214, 214, 214, 0.836), transparent);
}

input[name='gtc_output'] {
    display: none;
}

input + label {
    display: inline-block;
    max-width: 30em;
    height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;

    cursor: pointer;
    transition: all 0.3s ease-out;
}

input:checked + label {
    background: linear-gradient(
        90deg,
        rgba(182, 182, 182, 0.836),
        transparent 90%
    );
    color: rgb(8, 138, 48);
    font-size: 1.1em;
    font-weight: bold;
}

.mod {
    color: rgb(179, 179, 179);
    transition: all 0.3s ease-out;
    height: 1.2em;
    overflow: hidden;
}

.mod:hover {
    color: black;
}

input:checked ~ .mod {
    color: black;
}

form > div#submit_area {
    background: var(--submit-area-bg);
    position: sticky;
    bottom: 1px;
    height: 5rem;
    display: grid;
    grid-template:
        'a b' 3em
        'a c' 1em / 1fr 25%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

form button[type='submit'] {
    border-radius: 10px;
    font-size: 1.2rem;
}

form > div#submit_area > .long_column {
    grid-row: 1 / -1;
}

form > div#submit_area > .normal_grid {
    width: 100%;
}

button.server_comm {
    border-radius: 5px;
    font-size: 0.8rem;
    width: 100%;
    transition: all 0.3s ease-out;
}

button.server_comm:disabled {
    background: var(--button-disabled-bg);
}

#loading {
    position: absolute;
    left: 5px;
    bottom: 5px;
    z-index: 100;
    visibility: hidden;
}

#loading img {
    width: 75px;
    height: 75px;
}

#banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--banner-bg);
    text-align: center;
    padding: 5px;
    font-size: 1em;
    z-index: 100;
    transition: all 0.3s ease-in-out;

    opacity: 0;
}

.tooltip_container {
    position: relative;
    display: inline-block;
}

.tooltip_container > .tooltip + .tooltip_text {
    position: absolute;

    /* Style */
    background-color: var(--tooltip-bg);
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 0.8em;
    cursor: default;

    opacity: 0;
    z-index: 50;

    /* Animation */
    transition: opacity 0.5s ease;
}

.tooltip_container > .tooltip:hover + .tooltip_text {
    opacity: 1;
}

.tooltip_container > .tooltip + .tooltip_text.tooltip_bottom {
    top: 125%;
    left: 50%;
    transform: translateX(-50%);

    white-space: nowrap;
}

.tooltip_container > .tooltip + .tooltip_text.tooltip_bottom::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);

    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent var(--tooltip-bg) transparent;
}

.tooltip_container > .tooltip + .tooltip_text.tooltip_right {
    top: 50%;
    left: 105%;
    transform: translateY(-50%);

    white-space: normal;
    width: 10em;
}

.tooltip_container > .tooltip + .tooltip_text.tooltip_right::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);

    border-width: 6px;
    border-style: solid;
    border-color: transparent var(--tooltip-bg) transparent transparent;
}
