body {
    background-color: azure;
}

#folder_form {
    width: 40%;
    margin: 10% auto;
}

ul {
    list-style-type: none;
}

li {
    /* background: linear-gradient(90deg, rgba(223, 223, 224, 0.836), transparent 60%); */
}

li:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.877), transparent 80%);
}

.collapsible {
    /* background: linear-gradient(90deg, rgba(223, 223, 224, 0.836), transparent 60%); */
    cursor: pointer;
    border: none;
    text-align: center;
    width: 2rem;
    outline: none;
    transition: all 0.8s ease-out;
    padding: 1px 0;
}

.active, .collapsible:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.877), transparent 80%);
}

.content {
    /* background: linear-gradient(90deg, rgba(223, 223, 224, 0.836), transparent 60%); */
    padding: 0  0 0 18px;
    height: 0;
    overflow: hidden;
    transition: all 0.8s ease-out;
    margin-inline-start: 0.1rem;
    margin-inline-end: 0.1rem
}

li > input {
    display: none;
}

input:checked+label {
    background-color: black;
    color: white;
}

.mod {
    float: right;
    color: rgb(216, 216, 216);
    transition: all 0.3s ease-out;
}

.mod:hover {
    color: black;
}
