div.category {
    margin: 2em 1em 0.5em;
    border: solid;
    border-radius: 1em;
    padding: 0.5em 1em 1em;
}
div.input_wrapper {
    position: relative;
    display: flex;
    margin-bottom: 0.5em;
}
div.input_wrapper > input,
div.input_wrapper > select {
    margin: 0em 1em 0em;
    height: 1.6em;
}
div.category > h2 {
    position: relative;
    top: -1em;
    margin-top: 0;
    padding: 0 5px 0;
    z-index: 10;
    background: white;
    width: max-content;
}

.bold {
    font-weight: bold;
}

button {
    margin: 0 0.5em 0;
    height: 2em;
    width: 8em;
    padding: 0;
    overflow: hidden;
}

form {
    text-align: center;
}
form > div {
    text-align: start;
}

div.figure_container {
    width: 100%;
    height: auto;
}

body > div.container {
    display: none;
}
