:root {
    --preview-bg: azure;
}

#breadcrumb-container {
    font-size: large;
    height: 1rem;
}
#breadcrumb-container {
    color: gray;
}
#breadcrumb-container > span::after {
    /* path separator */
    content: ' \2BC8';
}
#breadcrumb-container > span + span::after {
    /* clickable segment (except first one) is bolder */
    font-weight: bolder;
}
#breadcrumb-container > span:last-child::after {
    /* No path separator after last segment */
    content: '';
}
.breadcrumb-item {
    cursor: pointer;
    position: relative;
    margin-left: 0.2em;
}
.breadcrumb-item:hover {
    color: black;
}
.breadcrumb-anchor {
    /* clickable segment is bolder */
    font-weight: bolder;
    text-decoration: none;
}
.breadcrumb-anchor.active {
    text-decoration: underline;
}
.breadcrumb-dropdown {
    position: absolute;
    top: 1.5em;
    left: 0;
    min-width: 20em;
    max-height: 20em;
    overflow-y: scroll;
    display: none;
    visibility: hidden;
    background-color: aliceblue;
    z-index: 35;
}
.breadcrumb-dropdown.active {
    position: absolute;
    display: initial;
    visibility: initial;
}
.breadcrumb-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breadcrumb-dropdown-item {
    position: relative;
    padding-left: 1em;
}
.breadcrumb-dropdown-item > a {
    display: inline-block;
    width: 98%;
}
.breadcrumb-dropdown-item.current-item > a {
    border: outset 2px black;
}
.breadcrumb-dropdown-item > a:hover {
    background-color: lightgray;
}

.breadcrumb-dropdown-item > .output {
    position: absolute;
    top: 0;
    right: 2%;
}
.breadcrumb-dropdown-item.folder::before {
    position: absolute;
    left: 2px;
    content: '\2BC8';
}
.breadcrumb-dropdown-item.folder.folder-expand::before {
    content: '\2BC6';
}
.breadcrumb-dropdown-item.folder > ul {
    display: none;
    visibility: hidden;
}
.breadcrumb-dropdown-item.folder.folder-expand > ul {
    position: relative;
    visibility: initial;
    display: block;
}

p {
    height: 3rem;
}

#download-output {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    z-index: 30;

    border-radius: 2px;
}

#download-overlay {
    position: absolute;
    top: 1em;
    left: 0;
    visibility: hidden;
}
#download-overlay img {
    width: 80%;
}

#download-output > select {
    overflow-y: auto;
    height: 0;
    border-top: 0;
    border-bottom: 0;
}
#download-output > select.select-show {
    height: fit-content;
}
#download-output > button {
    margin-top: 0.5em;
}

#tabs {
    float: left;
    width: 15%;
    height: 100%;
}

#panel {
    position: absolute;
    top: 6rem;
    left: 16%;
    width: 18%;
    height: calc(100% - 5rem);
    transition: all 0.35s;
}

#figure-wrapper {
    float: left;
    position: absolute;
    left: 36%;
    top: 6rem;
}

#figure-wrapper > div {
    overflow-y: hidden;
    visibility: hidden;
    height: 0;
}
#figure-wrapper > div.active {
    visibility: initial;
    height: auto;
}

#pol-canvas {
    background-color: transparent;
}

#pol-canvas-overlay {
    position: absolute;
    left: 0;
    background-color: transparent;
}

#tabs > div {
    padding: 2px 0;
}

.tab-l0-label {
    width: 95%;
    display: block;
    text-align: center;
    background-color: rgb(227, 248, 241);
    cursor: pointer;
    transition: all 0.35s;
    /* for horizontal center alignment*/
    margin: 0 auto;
    /* for vertical center alignment*/
    height: 80px;
    line-height: 80px;
    border: outset;
    border-radius: 10px;
}

input:disabled + .tab-l0-label {
    /* background-color: gray; */
    background-image: repeating-linear-gradient(
        45deg,
        gray,
        gray 15px,
        lightgray 15px,
        lightgray 30px
    );
}

.tab-l0-switch {
    display: none;
}

.tabs-l1 {
    position: absolute;
    left: 2.5%;
    width: 95%;
    z-index: 1;
    opacity: 0;
    transition: all 0.35s;
}

.tabs-l1 > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: center;
}

.tab-l0-label:hover {
    background-color: rgb(197, 247, 230);
}

.tab-l0-switch:checked + .tab-l0-label {
    background-color: rgb(127, 255, 212);
    border: inset;
}

div#files {
    background-color: rgb(199, 245, 235);
    margin: 0 auto;
    width: 90%;
}

#files > button {
    margin-top: 0.2rem;
    border: none;
    background-color: transparent;
    z-index: -1;
    cursor: grab;
    width: 100%;
    height: 1.1rem;
    display: block;
    overflow: hidden;
}

#files > button:hover {
    background-color: rgba(73, 73, 228, 0.267);
}

#files > button.snapshot-selected {
    background-color: rgba(73, 73, 228, 0.42);
}

div header {
    text-align: center;
}

.dropdown {
    max-height: 0px;
    overflow: auto;
    transition: all 0.35s;
}

.dropdown.active {
    max-height: 400px;
}

.tabs-l1 > .dropdown {
    display: block;
}

.tab-l1-btn {
    margin: 2px 1px;
    border-radius: 5px;
    background-color: rgb(227, 248, 241);
}

form {
    text-align: center;
    margin: 0.5rem 0 2rem;
}

#eq-x,
#eq-y {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem 0.2rem 1rem 0.2rem;
}

input.eq-1d-x,
input.eq-1d-y {
    display: none;
}

input.eq-1d-x + label,
input.eq-1d-y + label {
    display: inline-block;
    margin: 0.2rem 0.5rem 0.2rem 0;
    box-shadow: 3px 1px 2px 2px rgb(172, 210, 197);
    transition: all 0.35s;
}

input.eq-1d-x:checked + label,
input.eq-1d-y:checked + label {
    text-shadow: 0 0 7px rgb(228, 71, 71);
    box-shadow: inset 3px 1px 2px 2px rgb(172, 210, 197);
}

#loading {
    position: absolute;
    left: 5px;
    bottom: 5px;
    z-index: 100;
    visibility: hidden;
}

#loading img {
    width: 75px;
    height: 75px;
}

#container {
    --bg-color: rgba(45, 45, 45, 0.8);

    left: 16%;
    width: 83%;
    height: fit-content;
    min-height: 90%;
    top: 5rem;
    position: absolute;
    display: none;
    overflow-x: hidden;
    z-index: 20;
    background-color: var(--bg-color);
}
#container > #summary-page {
    position: relative;
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    font-size: large;
    background-color: lightblue;
    box-shadow: 0px 0px 5px 5px color-mix(in srgb, lightblue, var(--bg-color));
}
#summary-page > p {
    height: auto;
    line-height: 150%;
}
#summary-page > * {
    display: inline-block;
}

#summary-page .summary-jump-button {
    cursor: alias;
}
#summary-page .summary-figure-button {
    border: none;
    padding: 0;
    font: inherit;
    background: inherit;
    text-decoration: underline;
}
#summary-page .summary-figure-button:hover {
    text-decoration: underline wavy;
}

#summary-page > .summary-figure-container {
    height: 0;
    width: 100%;
    overflow-y: hidden;
    transition: 0.3s ease-in-out;
}
#summary-page > .summary-figure-container-show {
    height: calc(400px + 4em + 20px);
}
.summary-figure-wrapper {
    width: 600px;
    margin: 0 auto;
    position: relative;
}
.summary-figure-plot-div {
    width: 100%;
    height: 400px;
}
.summary-figure-button-div {
    margin: 0em 1em 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: stretch;
    justify-content: space-evenly;
}
.summary-figure-button-div > button {
    padding-block: 0;
    margin: 0 0 5px 2em;
}

#summary-page span.good {
    color: #468507;
}
#summary-page span.warn {
    color: #b66400;
}
#summary-page span.error {
    color: crimson;
}

#summary-page .hover_text {
    transition: all 0.35s;
}
#summary-page .hover_text:hover {
    color: gray;
}

#poloidal-preview {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 700px;
    height: 700px;
    border: outset 10px var(--preview-bg);
    background-color: var(--preview-bg);
    z-index: 30;
    display: none;
}

.can-preview::after {
    content: '(peek)';
    color: red;
    font-weight: bold;
}
