#tabs {
    float: left;
    width: 40%;
}

#figure {
    float: left;
    width: 60%;
    position: absolute;
    top: 2%;
    left: 40%;
}

.tab-l0-label {
    width: 40%;
    display: block;
    text-align: center;
    cursor: pointer;

    height: 100px;
    line-height: 100px;

    transition: all 0.35s;
}

.tab-l1-label {
    width: 95%;
    display: block;
    text-indent: 1rem;

    height: 1.5rem;
    line-height: 1.5rem;

    transition: all 0.15s;
}

.tab-l0-switch {
    display: none;
}

.tab-l1-switch {
    display: none;
}

.tabs-l1 {
    display: block;
    float: left;
    width: 22%;
    position: absolute;
    top: 0;
    left: 18%;
    opacity: 0;
    z-index: 1;
    transition: all 0.35s;
}

.tab-l0-switch:checked + .tab-l0-label {
    background-color: aquamarine;
}

.tab-l0-switch:checked + .tab-l0-label + .tabs-l1 {
    opacity: 1;
    z-index: 2;
}

.tab-l1-switch:checked + .tab-l1-label {
    background-color: aqua;
}